@import "./breakpoints";

$Dark-blue: hsl(212, 24%, 26%);
$Grayish-Blue: hsl(211, 10%, 45%);
$Light-gray: hsl(223, 19%, 93%);
$Verylight-gray: hsl(228, 33%, 97%);
$White: hsl(0, 0%, 100%);
$p-fontSize: 16px;
$counter-bg: #f5f6fa;
$counter-color: #4f4da0;
$count-btns-color: #c8c6eb;
$comment-width: 700px;
$reply-width: 600px;
